@charset "utf-8";


@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");

@import url("https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800");




/* reset */
	html,body {margin:0; padding:0; font-family:"나눔고딕","Nanum Gothic","Helvetica Neue",Arial,sans-serif; font-weight:normal; font-size:12px; height:100%; color:#333; -webkit-text-size-adjust:none; position:relative; line-height:1.2;}
	dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote {margin:0; padding:0; -webkit-text-size-adjust:none;}
	th,td,input,textarea,select {font-size:12px; color:#333; font-family:"나눔고딕","Nanum Gothic","Helvetica Neue",Arial,sans-serif; -webkit-text-size-adjust:none;}
	th,td {word-break:break-all; word-wrap:break-word; -webkit-text-size-adjust:none;}
	table {border-spacing:0; border-collapse:collapse; -webkit-text-size-adjust:none; border:0; table-layout:fixed;}
	address,caption,cite,code,dfn,var {font-style:normal; font-weight:normal; -webkit-text-size-adjust:none;}
	em {font-style:normal; -webkit-text-size-adjust:none;}
	ol,ul,li {list-style:none;}
	h1,h2,h3,h4,h5,h6 {font-size:100%;}
	abbr,acronym {border:0;}
	hr,legend,caption {visibility:hidden; overflow:hidden; line-height:0; width:0; height:0; margin:0; padding:0;}
	img,fieldset {border:0 none;}
	label {cursor:pointer;}
	a {color:#333;}
	a:link, a:visited, a:hover {color:#333; text-decoration:none;}
	a:active {text-decoration:none;}
	input,img {vertical-align:middle;}





/* layout */
	#header_container {position:fixed; left:0; right:0; top:0; color:#fff; z-index:100; height:80px; background-color:#212529;}
	#header_container .inner {width:1280px; margin:0 auto; position:relative; box-sizing:border-box; padding:0 30px; height:100%;}
	#header_container .logo {display:inline-block; margin-top:25px;}
	#header_container .logo img {width:108px;}
	#header_container .menu {position:absolute; right:30px; top:50%; margin-top:-18px;}
	#header_container .menu li {float:left;}
	#header_container .menu li a {color:#fff; font-size:18px; font-family:Raleway; letter-spacing:1px; margin-left:10px; padding:0 10px; line-height:36px; display:block;}
	#header_container .menu li a:hover {color:#fa0064;}

	#body_container {height:100%;}

	#footer_container {background-color:#212529; letter-spacing:-1px; font-size:16px; color:#fff; height:100px; line-height:100px; text-align:center;}






/* section */
	.section {box-sizing:border-box; padding:85px 0; min-height:800px;}
	.section .title {font-size:40px; text-align:center; font-family:Raleway; font-weight:800; text-transform:uppercase;}
	.section .desc {color:#999; font-size:16px; text-align:center; font-style:italic; margin-top:15px; font-family:Raleway; font-weight:300;}


/* intro */
	.section.intro {background:url("../images/bg_intro01.jpg") 0 0 no-repeat; background-size:100%; position:relative; height:100%;}
	.section.intro::before {content:""; background-color:rgba(0,0,0,0.75); position:absolute; left:0; right:0; top:0; bottom:0;}
	.section.intro .inner {color:#fff; text-align:center; height:200px; position:absolute; left:0; right:0; top:50%; margin-top:-100px;}
	.section.intro h1 {font-size:86px; font-family:"Open Sans";}
	.section.intro .txt {font-size:26px; margin-top:20px; line-height:1.5; font-style:italic; font-family:Raleway; font-weight:100;}


/* about */
	.section.about {background-color:#f8f9fa;}
	.section.about .content_wrap {width:900px; height:350px; margin:120px auto 0; position:relative; box-sizing:border-box; padding-left:450px; padding-top:20px;}
	.section.about .profile {width:350px; height:350px; border-radius:50%; position:absolute; left:0; top:0; box-shadow:4px 4px 10px #ccc;}
	.section.about .name {font-size:32px; display:block; font-family:"Open Sans";}
	.section.about .job {color:#666; font-size:18px; display:block; margin-top:5px; font-family:Raleway;}
	.section.about .sns {margin-top:25px; overflow:hidden;}
	.section.about .sns li {float:left; margin-right:10px;}
	.section.about .sns li a {display:block; width:50px; height:50px; background-color:#000; border-radius:50%;}
	.section.about .sns li a:hover {background-color:#fa0064;}
	.section.about .infoBox {margin-top:15px;}
	.section.about .infoBox table {width:100%;}
	.section.about .infoBox th {text-align:left; font-size:16px; width:90px; font-weight:normal; padding:6px 0; vertical-align:top; line-height:1.4;}
	.section.about .infoBox td {color:#666; font-size:16px; padding:6px 0; line-height:1.4;}
	.section.about .infoBox td a {text-decoration:underline; color:#666;}


/* skill */
	.section.skill {}
	.section.skill .content_wrap {font-size:0; text-align:center; margin-top:160px;}
	/*.section.skill .content_wrap li {display:inline-block; vertical-align:middle; font-size:28px; margin:0 38px;}
	.section.skill .content_wrap li strong {display:block; margin-top:20px; font-family:"Noto Sans KR";}*/
	.section.skill .content_wrap li {display:inline-block; vertical-align:middle; font-size:28px; margin:0 30px;}
	.section.skill .content_wrap li strong {display:block; margin-top:20px; font-family:"Open Sans"; letter-spacing:-1px;}
	.section.skill .content_wrap li .ico {display:block; width:180px; height:180px; border-radius:50%; overflow:hidden; box-sizing:border-box;}
	.section.skill .content_wrap li .ico::after {content:""; display:inline-block; vertical-align:middle; height:100%;}
	.section.skill .content_wrap li .ico img {}
	.section.skill .content_wrap li .ico.ps {background-color:#001d26; border:12px solid #00c8ff;}
	.section.skill .content_wrap li .ico.ai {background-color:#261300; border:12px solid #ff7c00;}
	.section.skill .content_wrap li .ico.id {background-color:#280012; border:12px solid #ff3f94;}
	.section.skill .content_wrap li .ico.ae {background-color:#1f003f; border:12px solid #cf91ff;}
	.section.skill .content_wrap li .ico.max {background-color:#09a1a1;}


/* portfolio */
	.section.portfolio {background-color:#f8f9fa;}
	.section.portfolio .work_wrap {text-align:center; width:1200px; margin:40px auto 0; overflow:hidden;}
	.section.portfolio .work_wrap li {box-sizing:border-box; width:360px; height:490px; margin:20px; float:left; overflow:hidden; border:1px solid #d3d3d3; background-color:#fff;}
	.section.portfolio .work_wrap a {display:block; height:100%; font-size:12px; text-align:left; box-sizing:border-box;}
	.section.portfolio .work_wrap .thumb {width:358px; height:358px; position:relative; overflow:hidden;}
	.section.portfolio .work_wrap .thumb strong {display:none; font-family:Raleway; text-transform:uppercase; position:absolute; left:0; right:0; top:0; bottom:0; background-color:rgba(235,29,72,0.8); color:#fff; line-height:358px; text-align:center; font-size:26px; font-weight:100;}
	.section.portfolio .work_wrap .thumb strong::after {content:""; position:absolute; left:5px; right:5px; top:5px; bottom:5px; border:1px solid #fff;}
	.section.portfolio .work_wrap a:hover .thumb strong {display:block;}
	.section.portfolio .work_wrap .cont {padding:15px 15px 0;}
	.section.portfolio .work_wrap .tit {font-size:18px; display:block;}
	.section.portfolio .work_wrap .type {color:#fa0064; display:block; margin-top:10px; text-transform:uppercase;}
	.section.portfolio .work_wrap .txt {color:#999; margin-top:8px; line-height:16px; height:48px; overflow:hidden; text-overflow:ellipsis; -webkit-line-clamp:3; -webkit-box-orient:vertical; display:-webkit-box; word-wrap:break-word; -o-text-overflow:ellipsis;}



