@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800&subset=korean');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:700,700i');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,300,300i,400,400i,800,800i');
/*
	Nanum+Gothic
		font-family: 'Nanum Gothic', sans-serif;
	Open sasns
		font-family: 'Open sasns', sans-serif  ;
	Raleway
		font-family: "Raleway"", sans-serif'
*/

/* reset */
	html,body {margin:0; padding:0; font-family:"나눔고딕","Nanum Gothic","Helvetica Neue",Arial,sans-serif; font-weight:normal; font-size:12px; height:100%; color:#333; -webkit-text-size-adjust:none; position:relative; line-height:1.2;}
	dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote {margin:0; padding:0; -webkit-text-size-adjust:none;}
	th,td,input,textarea,select {font-size:12px; color:#333; font-family:"나눔고딕","Nanum Gothic","Helvetica Neue",Arial,sans-serif; -webkit-text-size-adjust:none;}
	th,td {word-break:break-all; word-wrap:break-word; -webkit-text-size-adjust:none;}
	table {border-spacing:0; border-collapse:collapse; -webkit-text-size-adjust:none; border:0; table-layout:fixed;}
	address,caption,cite,code,dfn,var {font-style:normal; font-weight:normal; -webkit-text-size-adjust:none;}
	em {font-style:normal; -webkit-text-size-adjust:none;}
	ol,ul,li {list-style:none;}
	h1,h2,h3,h4,h5,h6 {font-size:100%;}
	abbr,acronym {border:0;}
	hr,legend,caption {visibility:hidden; overflow:hidden; line-height:0; width:0; height:0; margin:0; padding:0;}
	img,fieldset {border:0 none;}
	label {cursor:pointer;}
	a {color:inherit;}
	a:link, a:visited, a:hover {color:inherit; text-decoration:none;}
	a:active {text-decoration:none;}
	input,img {vertical-align:middle;}
/* reset */

/*layout*/
	#header_container {
		position:fixed; left:0; top:0;
		width:100%; height:80px;
		background-color:#212529;
		z-index:3000;
	}
	#header_container .header_inner {
		width:1200px; height:100%;
		position:relative;
		margin:0 auto;
	}
	#header_container .logo {
		position:absolute; left:30px; top:50%;
		margin-top:-15px;
	}
	#header_container .gnb_wrap {
		position:absolute; right:30px; top:50%; 
		margin-top:-18px;
	}
	#header_container .gnb_wrap li {
		float:left; margin-left:30px ;
	}
	#header_container .gnb_wrap li a {
		display:block;
		height:36px; line-height:36px;
		color:#fff;
		font-size:18px;
		font-family: "Raleway", sans-serif;
		text-transform:uppercase;
	}
	#header_container .gnb_wrap li a:hover {
		color:#fa0064;
	}

	/*intro*/
	.intro_section {
		height:100%; padding-top:80px;
		box-sizing:border-box;
		min-width:1280px;
	}
	.intro_section .intro_inner {
		height:100%; 
		background-image: url(../images/bg_intro01.jpg);
		background-position: center;
		background-repeat:no-repeat;
		background-size: 100% 100%;
		text-align:center;
		position:relative;
	}
	.intro_section .intro_inner::before {
		content:"";
		position:absolute;
		left:0; right:0; bottom:0; top:0;
		background-color:rgba(0,0,0,0.75);
	}
	.intro_section .intro_inner::after {
		content:"";
		display:inline-block; vertical-align:middle;
		height:100%;
	}
	.intro_section .intro_inner .content {
		display:inline-block; vertical-align:middle;
		color:#fff;
		position:relative;
	}
	.intro_section .intro_inner .content h2 {
		font-size: 86px;
		font-family: 'Open sasns', sans-serif;
	}
	.intro_section .intro_inner .content p {
		font-size: 26px; font-style:italic;
		font-family: "Raleway", sans-serif;
		font-weight:100;
		line-height:1.5;
		margin-top:20px;
	}

/*section(공통)*/

	.section {
		min-width:1280px;
		min-height:800px;
		box-sizing:border-box;
		padding:85px 0;
	}
	.section .title {
		font-size:40px;
		text-align:center;
		font-family: "Raleway", sans-serif;
		text-transform:uppercase;
		font-weight:800;
	}
	.section .subtext {
		text-align:center;
		font-size:16px;
		color:#999;
		font-style:italic;
		font-family: "Raleway", sans-serif;
		margin-top:15px;
		font-weight:300;
	}

	/*about*/

	#about_section {
		background-color:#f6f6f6;
	}
	#about_section .content_wrap{
		width:900px; min-height:350px;
		padding-left:450px;
		box-sizing:border-box;
		margin:120px auto 0;
		position:relative;
	}
	#about_section .content_wrap .profile {
		position:absolute; left:0; top:0;
		width:350px; height:350px;
		border-radius:50%;
		overflow:hidden;
		box-shadow:4px 4px 10px #ccc;
	}
	#about_section .content_wrap .profile img {
		width:100%; height:100%;
	}
	#about_section .content_wrap .contbox {
		
	}
	#about_section .content_wrap .contbox .name {
		font-size:36px;
		font-family: 'Open sasns', sans-serif;
	}

	/*skill*/
	#skill_section {

	}

	/*portfolio*/
	#portfolio_section {
		background-color:#f6f6f6;
	}

