@charset "utf-8";

@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800&subset=korean");
@import url('https://fonts.googleapis.com/css?family=Open+Sans:700,700i');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,300,300i,400,400i,800,800i');
/*
	Nanum+Gothic
		font-family: "Nanum Gothic", sans-serif;
	Open Sans
		font-family: "Open Sans", sans-serif;
	Raleway
		font-family: "Raleway", sans-serif;
*/

/* reset */
	html,body {margin:0; padding:0; font-family:"나눔고딕","Nanum Gothic","Helvetica Neue",Arial,sans-serif; font-weight:normal; font-size:12px; height:100%; color:#333; -webkit-text-size-adjust:none; position:relative; line-height:1.2;}
	dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote {margin:0; padding:0; -webkit-text-size-adjust:none;}
	th,td,input,textarea,select {font-size:12px; color:#333; font-family:"나눔고딕","Nanum Gothic","Helvetica Neue",Arial,sans-serif; -webkit-text-size-adjust:none;}
	th,td {word-break:break-all; word-wrap:break-word; -webkit-text-size-adjust:none;}
	table {border-spacing:0; border-collapse:collapse; -webkit-text-size-adjust:none; border:0; table-layout:fixed;}
	address,caption,cite,code,dfn,var {font-style:normal; font-weight:normal; -webkit-text-size-adjust:none;}
	em {font-style:normal; -webkit-text-size-adjust:none;}
	ol,ul,li {list-style:none;}
	h1,h2,h3,h4,h5,h6 {font-size:100%;}
	abbr,acronym {border:0;}
	hr,legend,caption {visibility:hidden; overflow:hidden; line-height:0; width:0; height:0; margin:0; padding:0;}
	img,fieldset {border:0 none;}
	label {cursor:pointer;}
	a {color:inherit;}
	a:link, a:visited, a:hover {color:inherit; text-decoration:none;}
	a:active {text-decoration:none;}
	input,img {vertical-align:middle;}


/* layout */
	#header_container {
		position:fixed; left:0; top:0;
		width:100%; height:80px;
		background-color:#212529;
		z-index:3000;
	}
	#header_container .header_inner {
		width:1280px; height:100%;
		position:relative;
		margin:0 auto;
	}
	#header_container .logo {
		position:absolute; left:30px; top:50%;
		margin-top:-15px;
	}
	#header_container .gnb_wrap {
		position:absolute; right:30px; top:50%;
		margin-top:-18px;
	}
	#header_container .gnb_wrap li {
		float:left; margin-left:40px;
	}
	#header_container .gnb_wrap li a {
		display:block;
		height:36px; line-height:36px;
		color:#fff; font-size:18px;
		font-family: "Raleway", sans-serif;
		text-transform:uppercase;
	}
	#header_container .gnb_wrap li a:hover {
		color:#fa0064;
	}
	#body_container {
		min-width:1280px;
	}
	#footer_container {
		min-width:1280px;
		background-color:#212529;
	}
	#footer_container .copy {
		letter-spacing:-1px;
		color:#fff; font-size:16px;
		text-align:center;
		height:100px; line-height:100px;
	}
	.m {
		display:none;
	}



/* intro */
	.intro_section {
		height:100%; padding-top:80px;
		box-sizing:border-box;
		min-width:1280px;
	}
	.intro_section .intro_inner {
		height:100%;
		background:url("../images/bg_intro01.jpg") 0 0 no-repeat;
		background-size:100% 100%;
		text-align:center;
		position:relative;
	}
	.intro_section .intro_inner::before {
		content:"";
		position:absolute;
		left:0; right:0; top:0; bottom:0;
		background-color:rgba(0,0,0,0.75);
	}
	.intro_section .intro_inner::after {
		content:"";
		display:inline-block; vertical-align:middle;
		height:100%;
	}
	.intro_section .intro_inner .content {
		display:inline-block; vertical-align:middle;
		color:#fff;
		position:relative;
	}
	.intro_section .intro_inner .content h2 {
		font-size:86px;
		font-family: "Open Sans", sans-serif;
	}
	.intro_section .intro_inner .content p {
		font-size:26px; font-style:italic;
		font-family: "Raleway", sans-serif;
		font-weight:100;
		line-height:1.5; margin-top:20px;
	}



/* section(공통) */
	.section {
		min-width:1280px;
		min-height:800px;
		box-sizing:border-box;
		padding:85px 0;
	}
	.section .title {
		font-size:40px;
		text-align:center;
		font-family: "Raleway", sans-serif;
		text-transform:uppercase;
		font-weight:800;
	}
	.section .subText {
		text-align:center;
		font-size:16px;
		color:#999;
		font-style:italic;
		font-family: "Raleway", sans-serif;
		margin-top:15px;
		font-weight:300;
	}


/* about */
	#about_section {
		background-color:#f3f3f3;
	}
	#about_section .content_wrap {
		width:900px; min-height:350px;
		padding-left:450px;
		box-sizing:border-box;
		margin:120px auto 0;
		position:relative;
	}
	#about_section .content_wrap .profile {
		position:absolute; left:0; top:0;
		width:350px; height:350px;
		border-radius:50%;
		overflow:hidden;
		box-shadow:4px 4px 10px #ccc;
	}
	#about_section .content_wrap .profile img {
		width:100%; height:100%;
	}
	#about_section .content_wrap .contBox {
	}
	#about_section .content_wrap .contBox .name {
		font-size:32px;
		font-family: "Open Sans", sans-serif;
	}
	#about_section .content_wrap .contBox .job {
		color:#666; font-size:18px;
		margin-top:5px; display:block;
		font-family: "Raleway", sans-serif;
	}
	#about_section .content_wrap .contBox .sns {
		font-size:0; margin-top:25px;
	}
	#about_section .content_wrap .contBox .sns li {
		display:inline-block; vertical-align:middle;
		margin-left:10px;
	}
	#about_section .content_wrap .contBox .sns li:first-child {
		margin-left:0;
	}
	#about_section .content_wrap .contBox .sns a {
		display:block; background-color:#000;
		border-radius:50%;
	}
	#about_section .content_wrap .contBox .sns a:hover {
		background-color:#fa0064;
	}
	#about_section .content_wrap .contBox .sns img {
		width:50px; height:50px;
	}
	#about_section .content_wrap .contBox .info {
		margin-top:15px;
	}
	#about_section .content_wrap .contBox .info table {
		width:100%;
	}
	#about_section .content_wrap .contBox .info tbody th {
		text-align:left; font-size:16px;
		width:100px; font-weight:normal;
		padding:6px 0; vertical-align:top;
	}
	#about_section .content_wrap .contBox .info tbody td {
		font-size:16px; color:#666;
		padding:6px 0;
	}
	#about_section .content_wrap .contBox .info tbody td a {
		text-decoration:underline;
	}


/* skill */
	#skill_section {}
	#skill_section .content_wrap {
		font-size:0; text-align:center;
		margin-top:160px;
	}
	#skill_section .content_wrap li {
		display:inline-block; vertical-align:top;
		margin-left:60px;
	}
	#skill_section .content_wrap li:first-child {
		margin-left:0;
	}
	#skill_section .content_wrap li .ico {
		width:180px; height:180px;
		border-width:12px;
		border-style:solid;
		box-sizing:border-box;
		border-radius:50%;
		line-height:156px;
	}
	#skill_section .content_wrap li .ico img {
		transition:all 0.3s;
	}
	#skill_section .content_wrap li .ico:hover img {
		transform:scale(1.2);
	}
	#skill_section .content_wrap li .ico.ps {
		background-color:#001d26;
		border-color:#00c8ff;
	}
	#skill_section .content_wrap li .ico.ai {
		background-color:#261300;
		border-color:#ff7c00;
	}
	#skill_section .content_wrap li .ico.id {
		background-color:#280012;
		border-color:#ff3f94;
	}
	#skill_section .content_wrap li .ico.ae {
		background-color:#1f003f;
		border-color:#cf91ff;
	}
	#skill_section .content_wrap li .ico.max {
		background-color:#09a1a1;
		border-color:#09a1a1;
	}
	#skill_section .content_wrap li .name {
		font-size:28px;
		font-family: "Open Sans", sans-serif;
		margin-top:20px;
		display:block;
	}


/* portfolio */
	#portfolio_section {
		background-color:#f3f3f3;
	}
	#portfolio_section .content_wrap {}
	#portfolio_section .content_wrap ul {
		width:1160px;
		margin:0 auto; overflow:hidden;
	}
	#portfolio_section .content_wrap .item {
		width:360px; height:490px;
		background-color:#fff;
		float:left; margin:40px 0 0 40px;
		border:1px solid #d3d3d3;
		box-sizing:border-box;
	}
	#portfolio_section .content_wrap .item:nth-child(3n+1) {
		margin-left:0;
	}
	#portfolio_section .content_wrap .item .thumbBox {
		height:358px; overflow:hidden;
		position:relative;
	}
	#portfolio_section .content_wrap .item .thumbBox img {
		width:100%; height:100%;
		transition:all 0.3s;
	}
	#portfolio_section .content_wrap .item .contBox {
		padding:15px 15px 0;
	}
	#portfolio_section .content_wrap .item .contBox .tit {
		font-size:18px;
	}
	#portfolio_section .content_wrap .item .contBox .type {
		color:#fa0064;
		margin-top:8px; display:block;
		text-transform:uppercase;
	}
	#portfolio_section .content_wrap .item .contBox .desc {
		color:#999;
		line-height:16px; height:48px;
		margin-top:10px;
		overflow:hidden;
		text-overflow:ellipsis;
		-webkit-line-clamp:3; /* 넷째줄에서 ... 표시 */
		-webkit-box-orient: vertical;
		display: -webkit-box;
		word-wrap:break-word;
		-o-text-overflow:ellipsis;
	}
	#portfolio_section .content_wrap .item .thumbBox strong {
		display:none; font-family:Raleway;
		text-transform:uppercase;
		position:absolute; left:0; right:0; top:0; bottom:0;
		background-color:rgba(235,29,72,0.8);
		color:#fff; line-height:358px;
		text-align:center; font-size:26px; font-weight:100;
	}
	#portfolio_section .content_wrap .item .thumbBox strong::after {
		content:"";
		position:absolute; left:5px; right:5px; top:5px; bottom:5px;
		border:1px solid #fff;
	}
	#portfolio_section .content_wrap .item:hover .thumbBox strong {
		display:block;
	}
	#portfolio_section .content_wrap .item:hover .thumbBox img {
		transform:scale(1.05);
	}





/* 반응형 */
@media (max-width:1279px) {

	/* laytou */
	#header_container {}
	#header_container .header_inner {
		width:auto;
		box-sizing:border-box;
		padding-top:10px;
	}
	#header_container .logo {
		position:static;
		margin:0;
		text-align:center;
	}
	#header_container .logo img {
		height:25px;
	}
	#header_container .gnb_wrap {
		position:static;
		margin:5px 0 0 0;
		overflow:hidden;
	}
	#header_container .gnb_wrap li {
		margin-left:0;
		width:33.3%;
		text-align:center;
	}
	#header_container .gnb_wrap li:first-child {
		margin-left:0;
	}
	#header_container .gnb_wrap li a {
		font-size:14px;
		height:40px; line-height:40px;
	}
	#body_container {
		min-width:0;
	}
	#footer_container {
		min-width:0;
	}
	#footer_container .copy {
		font-size:12px;
		height:80px; line-height:80px;
	}

	/* intro */
	.intro_section {
		min-width:0;
	}
	.intro_section .intro_inner .content h2 {
		font-size:36px;
	}
	.intro_section .intro_inner .content p {
		font-size:14px;
	}
	.intro_section .intro_inner .content p br.m {
		display:inline;
	}

	/* section(공통) */
	.section {
		min-width:0; min-height:0;
		padding:30px 0;
	}
	.section .title {
		font-size:26px;
	}
	.section .subText {
		font-size:14px; margin-top:5px;
	}

	/* about */
	#about_section .content_wrap {
		width:auto; min-height:0;
		padding:0; margin:40px 15px 0;
	}
	#about_section .content_wrap .profile {
		position:static; margin:0 auto;
		width:200px; height:200px;
	}
	#about_section .content_wrap .contBox {
		margin-top:20px;
	}
	#about_section .content_wrap .contBox .name {
		text-align:center;
		font-size:22px;
	}
	#about_section .content_wrap .contBox .job {
		font-size:16px; text-align:center;
		margin-top:10px;
	}
	#about_section .content_wrap .contBox .sns {
		text-align:center; margin-top:10px;
	}
	#about_section .content_wrap .contBox .sns img {
		width:40px; height:40px;
	}
	#about_section .content_wrap .contBox .info {
		width:340px; margin:10px auto 0;
	}
	#about_section .content_wrap .contBox .info tbody th {
		font-size:12px; width:70px;
	}
	#about_section .content_wrap .contBox .info tbody td {
		font-size:12px;
	}

	/* skill */
	#skill_section .content_wrap {
		margin-top:40px;
	}
	#skill_section .content_wrap li {
		margin:20px 0 0 0;
		display:block;
	}
	#skill_section .content_wrap li:first-child {
		margin-top:0;
	}
	#skill_section .content_wrap li .ico {
		width:100px; height:100px;
		border-width:7px;
		line-height:86px;
		margin:0 auto;
	}
	#skill_section .content_wrap li .ico img {
		transform:scale(0.5);
	}
	#skill_section .content_wrap li .name {
		font-size:14px; margin-top:10px;
	}

	/* portfolio */
	#portfolio_section .content_wrap {
		margin-top:40px;
	}
	#portfolio_section .content_wrap ul {
		width:auto;
	}
	#portfolio_section .content_wrap .item {
		float:none;
		margin:20px auto 0;
		width:320px;
	}
	#portfolio_section .content_wrap .item:nth-child(3n+1) {
		margin-left:auto;
	}
	#portfolio_section .content_wrap .item:first-child {
		margin-top:0;
	}

}
